# Data acquisition
requests

# Data cleaning/preparation
pandas
numpy

# Exploratory data analysis
matplotlib
seaborn

# Machine learning
scikit-learn


# COLUMNS TO RETAIN IN PERFORMANCE TABLE
Identifiers and filters
- new_la_code/la_name - for joining to deprivation dataset
- school_urn/school_name - unique school id
- establishment_type_group - academy, independent, maintained
- sex
- disadvantage_status
- first_language
- breakdown_topic


Outcome measures
- attainment8_average
- progress8_average
- progress8_lower_95_ci / progress8_upper_95_ci
- ebacc_aps_average

Subject-specific (for Q3)
- attainment8eng_average, attainment8mat_average, attainment8ebacc_average
- progress8eng_average, progress8mat_average, progress8ebacc_average, progress8open_average
- ebacceng_95_percent, ebaccmat_95_percent, ebaccsci_95_percent, ebacchum_95_percent, ebacclan_95_percent

Pupil characteristics
- pupil_count


# COLUMNS TO RETAIN IN DEPRIVATION DATA
Identifier
- Local Authority District code (2019)

Deprivation (for Q1)
- Index of Multiple Deprivation (IMD) Score

Specific Deprivation Factors (for Q2)
- Income Score (rate)
- Employment Score (rate)
- Health Deprivation and Disability Score
- Crime Score
- Barriers to Housing and Services Score
- Living Environment Score
- Income Deprivation Affecting Children Index (IDACI) Score (rate)
- Children and Young People Sub-domain Score

